.ctt1
{
	margin-bottom:5px;
	border:1 solid black;
	padding-top:1%;
	margin-left:7%;
	margin-right:6px;
	padding-left:6%;
}
.ct1
{
padding-left:3%;
padding-top:0.3%;
color:white;
background:-webkit-linear-gradient( top left,skyblue,blue,green);
height:70px;
margin-top:10px;
margin-bottom:5px;
}
.ct2
{
	height:700px;
	background-image:url('img/119.jpg');
	margin-top:10px;
}
.ct3
{
	height:100px;
	float:left;
	margin-top:10%;
	margin-left:30%;
	margin-bottom:10%;
}
.ct4
		{
			padding:8px 120px;
			font-size:15px;
			color:red;
			border-radius:5px;
			text-align:left;
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
		}
.ct5
{
	margin-top:6px;
	margin-left:6%;
	color:white;
}
.ct6
{
	padding-left:10px;
	color:rgb(14,5,180);
}
.ct7
{
	padding:8px 120px;
			font-size:15px;
			color:red;
			border-radius:5px;
			text-align:left;
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
			margin-left:55%;
}
.ct8
{
	padding:8px 120px;
			font-size:15px;
			color:red;
			border-radius:5px;
			text-align:left;
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
			margin-left:6%;
}
.ct9
{
			padding:10px 60px;
			border-radius:6px;
			background-color:black;
			font-size:15px;
			color:white;
			cursor:pointer;
			float:right-block;
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
			margin-top:20px;
			margin-left:100px;
		}
		.ct9:hover
		{
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
			background-color:red;
			color:white;
			font-size:20px;
		}
.ct10
{
	padding-left:40%;
	
}
