.adis
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.dist_main{
height:100%;
width:100%;
margin-bottom:2px;
p
}
.a_dist
{
padding-top:0.6%;
color:white;
background:-webkit-linear-gradient( top left,blue,purple,orange);
height:65px;
margin-bottom:2px;
margin-top:30px;
margin-left:20px;
margin-right:20px;
font-size=30%;
}
.adia
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adib
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adic
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adid
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adie
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adif
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adig
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adih
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
height:350px;
}
.adii
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adij
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}
.adik
{
margin-top:10px;
margin-left:20px;
margin-right:20px;
height:300px;
 height:350px;
}