.b
{
word-spacing:10px;
padding-left:53%;
padding-top:23%;
font-size:28px;
}
.b li
{
list-style-type:none;
display:inline;
text-align:center;
}
.b li:hover
{
color:red;
}
.abc
{
	text-decoration:none;
	color:white;
}
.q
{
    background-image:url("zzz/hp.jpg");
	height:350px;
}
.a
{
padding-left:6%;
padding-top:3%;
float:left;
height:100px;
width:300px;
}
.L
{
padding-left:8%;
float:left;
height:100px ;
width:300px;
}

.c
{
padding-left:10%;
}
.d
{
text-align:center;
width:33%;
float:left;
padding-top:2.5%;
color:brown;
}
.d:hover
{
color:red;
}
.e
{
padding-left:10%;
padding-top:3%;
}

.s
{
	background-image:url("img/qq.jpg");
	height:370px;
}
.t
{
	background-image:url("img/gg.jpg");
	height:355px;
}
.u
{
	background-color:rgb(45,200,251);
	height:300px;
}
.x
{
text-align:center;
width:25%;
float:left;
padding-top:2.5%;
}
.y
{
	padding-top:0.2%;
	padding-left:80%;
	color:blue;
}
