.adis
{
background-image:url("img/39.jpg");
}
.dist_main{
height:100%;
width:100%;

}
.a_dist
{
font:size=30%;
padding-top:0.6%;
color:white;
background:-webkit-linear-gradient( top left,blue,purple,orange);
height:65px;
margin:20px;
}
.q_dist
{
margin-top:200px;
margin-top:5px;
margin-left:20px;
margin-right:20px;
padding-top:0.7%;
padding-left:3%;
height:300px;
color:rgb(251,0,0);
background-color:rgb(251,0,0);
}
