.lg1
{
padding-left:40%;
padding-top:40px;


}
.lg2
{
padding-left:3%;
padding-top:0.3%;
color:white;
background:-webkit-linear-gradient( top left,skyblue,blue,green);
height:70px;
margin-top:10px;
}
.lg3
{
	background-image:url("img/2221.jpeg");
	background-size:100% 550px;
	height:550px;
	margin-top:10px;
	margin-bottom:10px;
}
.lg4
{
	height:200px;
	color:white;
	margin-left:23%;
	margin-right:25%;
	background-image:url("img/2221.jpeg");
}
.lg5
{
			padding:8px 120px;
			font-size:15px;
			color:red;
			border-radius:5px;
			text-align:left;
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.30),0 6px 20px 0 rgba(0,0,0,0.50);
			margin-top:20px;
}
<script type="text/javascript">
function checkform(form)
{
i-f(form.uname.value=="")
{
	alert("error:Username is empty");
	form.uname.focus();
	return false;
}
return true;
}
</script>